{% extends 'base\base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
{% if user.is_manager %}
<ul class="list-group list-group-horizontal-xxl mb-2">
    <li class="list-group-item">
        <div>
            <p class="my-1"> <b>Leave Details</b> </p>
            <hr class="my-1">
            {% if not datas %}
            <div class="row">
                <div class="align-items-center">No Leaves request</div>
            </div>
            {% else %}
            <div class="row mb-1">
                <div class="col-md-3"><b>Employee Name</b></div>
                <div class="col"><b>Leave Type</b></div>
                <div class="col-md-3"><b>Description</b></div>
                <div class="col list-respond-leave"><b>Status</b></div>
                <div class="col"><b>Actions</b></div>
            </div>
            <hr class="my-1">

            {% for data in datas %}
            <div class="row">
                <div class="col-md-3">
                    {{ data.applied_user.first_name }} {{ data.applied_user.last_name }}
                </div>
                <div class="col">{{ data.leave_type }}</div>
                <div class="col-md-3">{{ data.description }}</div>
                {% if data.status == "Approved" %}
                <div class="col status-approve">Leave Approved
                </div>
                {% elif data.status == "Cancel" %}
                <div class="col status-cancel">Leave Cancelled</div>
                {% elif data.status == "Reject" %}
                <div class="col status-reject">Leave Rejected
                </div>
                {% else %}
                <div class="col status-pending">
                    <a class="anchor-tag-reset" href="{% url 'detail-leave-respond' data.id %}">
                        Pending
                    </a>
                </div>
                {% endif %}
                <div class="col">
                    <a class="btn btn-sm btn-outline-primary anchor-tag-button"
                        href="{% url 'detail-leave-respond' data.id %}">
                        Approve / Reject
                    </a>
                </div>
            </div>
            <hr class="my-1">
            {% endfor %}
            {% endif %}
        </div>
    </li>
</ul>
{% if is_paginated %}
<ul class="list-group list-group-horizontal-xxl mb-2">
    <li class="list-group-item">
        <div class="d-flex justify-content-evenly">
            <div class="d-inline">
                {% if page_obj.has_previous %}
                <a href="?page=1" class="btn btn-outline-dark">First</a>
                <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-dark">Previous</a>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}

                {% if num == page_obj.number %}
                <a href="?page={{ num }}" class="btn btn-dark">{{ num }}</a>
                {% elif num > page_obj.number|add:'-2' and num > page_obj.number|add:'2' %}
                <a href="?page={{ num }}" class="btn btn-outline-dark">{{ num }}</a>
                {% endif %}

                {% endfor %}

                {% if page_obj.has_next %}
                <a class="btn btn-outline-dark" href="?page={{ page_obj.next_page_number }}">Next</a>
                <a class="btn btn-outline-dark" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                {% endif %}
            </div>
        </div>
    </li>
</ul>
{% endif %}
{% endif %}
{% endblock content %}