{% extends 'base\base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
{% if user.is_manager %}
<ul class="list-group list-group-horizontal-xxl mb-2">
    <li class="list-group-item">
        <div>
            <p class="my-1"> <b>Leave Details</b> </p>
            <hr class="my-1">
            {% if not datas %}
            <div class="row">
                <div class="align-items-center">No Leaves request</div>
            </div>
            {% else %}
            <div class="row mb-1">
                <div class="col"><b>Employee Name</b></div>
                <div class="col"><b>No. Leave taken</b></div>
                <div class="col"><b>Leave Request Type</b></div>
                <div class="col"><b>Description</b></div>
                <div class="col" style="text-align: center;"><b>Status</b></div>
                <div class="col"><b>Actions</b></div>

            </div>
            <hr class="my-1">

            {% for data in datas %}
            {% ifequal user data.applied_user %}
            {{ continue }}
            {% else %}
            <div class="row">
                <div class="col">
                    {{ data.applied_user.first_name }} {{ data.applied_user.last_name }}
                </div>
                <div class="col" style="text-align: center;">{{ data.applied_user.leave_taken }}</div>
                <div class="col">{{ data.leave_type }}</div>

                <div class="col">{{ data.description }}</div>
                <!-- <div class="col">{{ data.status }}</div> -->
                {% if data.status == "Approved" %}
                <div class="col" style="background-color: rgb(51, 255, 32);text-align:center;">Leave Approved</div>
                {% elif data.status == "Cancel" %}
                <div class="col" style="background-color: rgb(196, 196, 196);text-align:center;">Leave Cancelled</div>
                {% elif data.status == "Reject" %}
                <div class="col" style="background-color: tomato;text-align:center;">Leave Rejected</div>
                {% else %}
                <div class="col" style="background-color: rgb(255, 230, 0);text-align:center;">
                    <a style="color: black; text-decoration: none;"
                        href="{% url 'detail-leave-respond' data.id %}">Pending</a>
                </div>
                {% endif %}
                <div class="col">
                    <a class="btn btn-sm btn-outline-primary" style="text-decoration: none;text-align:inherit;"
                        href="{% url 'detail-leave-respond' data.id %}">
                        Approve / Reject
                    </a>
                </div>
            </div>
            <hr class="my-1">
            {% endifequal %}
            {% endfor %}
            {% endif %}
            <div class="" style="text-align: center;">End of Records</div>
        </div>
    </li>
</ul>
{% endif %}
{% endblock content %}