<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>employee leave accept</title>
</head>

<body>
    {{ detail_data.reason }}
    {{ detail_data.applied_user }}
    {{ detail_data.applied_date }}
    {{ detail_data.eligible_leave }}
    {{ detail_data.status }}
    {{ detail_data.approved_leave }}
    {{ detail_data.rejected_leave }}

    <!-- <form action="{% url 'list-lms-admin' %}" method="POST">
            {% csrf_token %}
            <h3>To approve leave</h3>
            <input style="display: none;" type="button" name='status' value="true">
            <button type="submit" class="accept-leave" name='status' value='true'>Accept Leave Request</button>
            <button type="submit" class="reject-leave" name='status' value='true'>Reject Leave Request</button>
            <button type="submit">Submit</button>
        </form> -->

    <a href="{% url 'list-lms-admin' %}">Go To Home</a>
</body>

</html>