<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Home</title>
</head>

<body>
    {% for i in details %}
    {% if i.status == False %}
    <h1> <a href="{% url 'detailed-lms-admin' i.id %}">Leave Request From {{ i.applied_user }}</a> </h1>
    <small>Leave detail: </small>
    <ul>
        <li>Reason for Leave: {{ i.reason }}</li>
        <li>Requested Date: {{ i.applied_date|date:"F d, Y" }}</li>
        <li>Status of Leave: {{ i.status }}</li>

    </ul>
    {% endif %}
    {% endfor %}
</body>

</html>