<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Home</title>
</head>

<body>
    {% if details.status == 0 %}
    {% status = 'NOT APPROVED' %}
    {% else %}
    {% status = 'APPROVED' %}
    {% endif %}
    <li>User Name: {{ details.applied_user }}</li>
    <li>Reason for Leave: {{ details.reason }}</li>
    <li>Requested Date: {{ details.applied_date|date:"F d, Y" }}</li>
    <li>Status of Leave {{ status }}</li>
</body>

</html>