{% extends 'unauth_base.html' %}
{% load static %}

{% block content %}
<div class="container home-body">
    <div class="row g-0 home-row-card">
        <div class="col">
            <div class="card img-card" style="width: 18rem;">
                <img src="{% static 'images/image_1.jpg' %}" alt="organization-image">
                <div class="card-body">
                    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt rem iusto
                        libero pariatur quo dolorum aspernatur ullam laboriosam exercitationem! Minima animi quod enim,
                        expedita laudantium autem eveniet eius dolore harum?</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card img-card" style="width: 18rem;">
                <img src="{% static 'images/image_3.jpg' %}" alt="cultural-image">
                <div class="card-body">
                    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt rem iusto
                        libero pariatur quo dolorum aspernatur ullam laboriosam exercitationem! Minima animi quod enim,
                        expedita laudantium autem eveniet eius dolore harum?</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card img-card" style="width: 18rem;">
                <img src="{% static 'images/image_2.jpg' %}" alt="cultural-image">
                <div class="card-body">
                    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt rem iusto
                        libero pariatur quo dolorum aspernatur ullam laboriosam exercitationem! Minima animi quod enim,
                        expedita laudantium autem eveniet eius dolore harum?</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}