{% extends 'unauth_base.html' %}

{% block content %}
<main class="form-signin">
    <form action="/home" method="POST" class="row g-3 needs-validation form-signin " novalidate>
        <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" fill="currentColor" class="bi bi-file-person"
            viewBox="0 0 16 16">
            <path
                d="M12 1a1 1 0 0 1 1 1v10.755S12 11 8 11s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h8zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z" />
            <path d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
        </svg>

        <div class="form-floating">
            <input type="text" name="userid" class="form-control" id="floatingInput validationCustom03"
                placeholder="User Id" required>
            <label for="floatingInput">User Id</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" name="password" class="form-control" id="floatingPassword validationCustom04"
                placeholder="Password" required>
            <label for="floatingPassword">Password</label>
        </div>
        <button class="w-100 btn btn-lg btn-secondary" type="submit">Sign in</button>
    </form>
    <!-- <p class="text-muted pl-5 mt-5">&copy; ABC ORGANIZATIONS 2021</p> -->
</main>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict'
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')
        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }
                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>
{% endblock content %}