.form-signin {
        width: 100%;
        max-width: 400px;
        margin: auto;
}
body {
        background-color: whitesmoke;
        animation-name: name;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }

    @keyframes name {
        0% {
            background-color: rgb(233, 252, 255);
        }

        25% {
            background-color: rgb(200, 226, 226);
        }

        50% {
            background-color: rgb(190, 228, 228);
        }

        100% {
            background-color: rgb(230, 254, 255);
        }

    }