.signin-reset-card{
    width: 40%; 
    margin: 0% 30%;
}
.signup-card {
    margin: 5% 25%;
    width: 50%;
}

.leaverequest-card {
    margin: 1% 30%;
    width: 50%;
}

.leave-card {
    width: 100%;
}

footer {
    margin: 30px auto;
    text-align: center;
}

.navbar-color{
    background-color: #e3f2fd;
}

.list-respond-leave{
    text-align: center;
}

.status-approve{
    background-color: rgba(50, 255, 32, 0.705);
    text-align:center;
}

.status-reject{
    background-color: rgba(255, 99, 71, 0.705);
    text-align:center;
}

.status-cancel{
    background-color: rgb(196, 196, 196);
    text-align:center;
}

.status-pending{
    background-color: rgba(255, 230, 0, 0.705);
    text-align:center;
}

.anchor-tag-reset{
    color: black; text-decoration: none;
}

.anchor-tag-button{
    text-decoration: none;
    text-align:inherit;
}

.home-card-width{
    width: 22rem;
}