{% extends 'base\base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <ul class="list-group list-group-horizontal-xxl mb-3">
        <li class="list-group-item">
            <div class="row">
                <div class="col">Employee Name:</div>
                <div class="col">
                    {{ user.first_name }} {{ user.last_name }}
                </div>
            </div>
            <div class="row">
                <div class="col">Email Id:</div>
                <div class="col">{{ user.email }}</div>
            </div>
            {% if user.is_manager %}
            <div class="row">
                <div class="col">Designation:</div>
                <div class="col">Manager</div>
            </div>
            {% else %}
            <div class="row">
                <div class="col">Designation:</div>
                <div class="col">Employee</div>
            </div>
            {% endif %}
        </li>
    </ul>
    <ul class="list-group list-group-horizontal-xxl mb-2">
        <li class="list-group-item">
            <div>
                <p class="my-1"> <b>Leave Summary</b> </p>
                <hr class="my-1">
                <div class="row my-1">
                    <div class=" col"><b>Leave type</b></div>
                    <div class="col"><b>Leave Eligible</b></div>
                    <div class="col"><b>Leave Taken</b></div>
                    <div class="col"><b>Leave Remaining</b></div>
                </div>
                <hr class="my-1">
                <div class="row">
                    <div class="col">Presonal Leave</div>
                    <div class="col">{{ user.leave_eligible }}</div>
                    <div class="col">{{ user.leave_taken }}</div>
                    <div class="col">{{ user.leave_remaining }}</div>
                </div>
                <div class="row">
                    <div class="col">LOP Leave</div>
                    <div class="col">0</div>
                    <div class="col">{{ user.lop_leave_taken }}</div>
                    <div class="col">0</div>
                </div>
                <div class="row">
                    <div class="col">Covid Support</div>
                    <div class="col">0</div>
                    <div class="col">{{ user.covid_leave_taken }}</div>
                    <div class="col">0</div>
                </div>
            </div>
        </li>
    </ul>
    <ul class="list-group list-group-horizontal-xxl mb-2">
        <li class="list-group-item">
            <div>
                <p class="my-1"> <b>Leave Details</b> </p>
                <hr class="my-1">
                {% if not datas %}
                <div class="row">
                    <div class="align-items-center">No Leaves were taken</div>
                </div>
                {% else %}
                <div class="row mb-1">
                    <div class="col"><b>From Date</b></div>
                    <div class="col"><b>To Date</b></div>
                    <div class="col"><b>Number of Days</b></div>
                    <div class="col"><b>Leave Type</b></div>
                    <div class="col"><b>Descriptions</b></div>
                    <div class="col"><b>Status</b></div>
                    {% if not user.is_manager %}
                    <div class="col"><b>Remark</b></div>
                    {% endif %}
                </div>
                {% for data in datas %}
                <hr class="my-1">
                <div class="row">
                    <div class="col">{{ data.from_date }}</div>
                    <div class="col">{{ data.to_date }}</div>
                    <div class="col">{{ data.number_of_days }}</div>
                    <div class="col">{{ data.leave_type }}</div>
                    <div class="col">{{ data.description }}</div>
                    <div class="col">{{ data.status }}</div>
                    {% if not user.is_manager %}
                    {% if data.status == "Reject" or data.status == "Approved" %}
                    <div class="col">{{ data.remark }}</div>
                    {% else %}
                    <div class="col">Leave Not Responded</div>
                    {% endif %}
                    {% endif %}
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </li>
    </ul>
</div>
{% endblock content %}