{% extends 'base\base.html' %}
{% block content %}
<div class="container">
    <ul class="list-group list-group-horizontal-xxl mb-3">
        <li class="list-group-item">
            <div class="row">
                <div class="col"><b>Employee Name</b></div>
                <div class="col"><b>Email Id</b></div>
                <div class="col"><b>Designation</b></div>
            </div>
            <div class="row">
                <div class="col">
                    {{ user.first_name }} {{ user.last_name }}
                </div>
                <div class="col">{{ user.email }}</div>
                {% if user.is_manager %}
                <div class="col">Manager</div>
                {% elif user.is_admin_employee %}
                <div class="col">Admin Employee</div>
                {% else %}
                <div class="col">Employee</div>
                {% endif %}
            </div>
        </li>
    </ul>
    <ul class="list-group list-group-horizontal-xxl mb-2">
        <li class="list-group-item">
            <div>
                <h5 class="my-1"> <b>LEAVE SUMMARY</b> </h5>
                <hr class="my-1">
                <div class="row my-1">
                    <div class=" col"><b>Leave type</b></div>
                    <div class="col"><b>Leave Eligible</b></div>
                    <div class="col"><b>No. Leaves taken</b></div>
                    <div class="col"><b>No. Leave Remaining</b></div>
                </div>
                <hr class="my-1">
                <div class="row">
                    <div class="col"><b>Personal Leave</b></div>
                    <div class="col">{{ user.leave_eligible }}</div>
                    {% ifequal personal_leave.total None %}
                    <div class="col">0</div>
                    {% else %}
                    <div class="col">{{ personal_leave.total }}</div>
                    {% endifequal %}
                    <div class="col">{{ user.leave_remaining }}</div>
                </div>

                <div class="row">
                    <div class="col"><b>LOP Leaves</b></div>
                    <div class="col"><b>-</b></div>
                    {% ifequal lop_count.total None %}
                    <div class="col">0</div>
                    {% else %}
                    <div class="col">{{ lop_count.total }}</div>
                    {% endifequal %}
                    <div class="col"><b>-</b></div>
                </div>

                <div class="row">
                    <div class="col"><b>Other Leaves</b></div>
                    <div class="col"><b>-</b></div>
                    {% ifequal other_leave_count.total None %}
                    <div class="col">0</div>
                    {% else %}
                    <div class="col">{{ other_leave_count.total }}</div>
                    {% endifequal %}
                    <div class="col"><b>-</b></div>
                </div>

                <div class="row">
                    <div class="col"><b>Overall Leaves</b></div>
                    <div class="col"><b>-</b></div>
                    {% ifequal leave_count.total None %}
                    <div class="col">0</div>
                    {% else %}
                    <div class="col">{{ leave_count.total }}</div>
                    {% endifequal %}
                    <div class="col"><b>-</b></div>
                </div>
            </div>
        </li>
    </ul>
    <ul class="list-group list-group-horizontal-xxl mb-2">
        <li class="list-group-item">
            <div>
                <p class="my-1"> <b>Leave Details</b> </p>
                <hr class="my-1">
                {% if not datas %}
                <div class="row">
                    <div class="align-items-center">No Leaves were taken</div>
                </div>
                {% else %}
                <div class="row mb-1">
                    <div class="col"><b>From Date</b></div>
                    <div class="col"><b>To Date</b></div>
                    <div class="col"><b>Number of Days</b></div>
                    <div class="col"><b>Leave Type</b></div>
                    <div class="col"><b>Descriptions</b></div>
                    <div class="col"><b>Status</b></div>
                    <div class="col"><b>Remark</b></div>
                </div>
                {% for data in datas %}
                <hr class="my-1">
                <div class="row">
                    <div class="col">{{ data.from_date }}</div>
                    <div class="col">{{ data.to_date }}</div>
                    <div class="col">{{ data.number_of_days }}</div>
                    <div class="col">{{ data.leave_type }}</div>
                    <div class="col">{{ data.description }}</div>
                    <div class="col">{{ data.status }}</div>
                    {% if data.status == "Reject" or data.status == "Approved" %}
                    <div class="col">{{ data.remark }}</div>
                    {% elif data.status == "Cancel" %}
                    <div class="col">Leave Cancelled</div>
                    {% else %}
                    <div class="col">Leave Not Responded</div>
                    {% endif %}
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </li>
    </ul>
</div>
{% if is_paginated %}
<ul class="list-group list-group-horizontal-xxl mb-2">
    <li class="list-group-item">
        <div class="d-flex justify-content-evenly">
            <div class="d-inline">
                {% if page_obj.has_previous %}
                <a href="?page=1" class="btn btn-outline-dark">First</a>
                <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-dark">Previous</a>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}

                {% if num == page_obj.number %}
                <a href="?page={{ num }}" class="btn btn-dark">{{ num }}</a>
                {% elif num > page_obj.number|add:'-2' and num > page_obj.number|add:'2' %}
                <a href="?page={{ num }}" class="btn btn-outline-dark">{{ num }}</a>
                {% endif %}

                {% endfor %}

                {% if page_obj.has_next %}
                <a class="btn btn-outline-dark" href="?page={{ page_obj.next_page_number }}">Next</a>
                <a class="btn btn-outline-dark" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                {% endif %}
            </div>
        </div>
    </li>
</ul>
{% endif %}
{% if datas.has_other_pages %}
<ul class="list-group list-group-horizontal-xxl mb-2">
    <li class="list-group-item">
        <div class="d-flex justify-content-evenly">
            <div class="d-inline">
                {% if datas.has_previous %}
                <a href="?page=1" class="btn btn-outline-dark">First</a>
                <a href="?page={{ datas.previous_page_number }}" class="btn btn-outline-dark">Previous</a>
                {% endif %}

                {% for num in datas.paginator.page_range %}

                {% if num == datas.number %}
                <a href="?page={{ num }}" class="btn btn-dark">{{ num }}</a>
                {% elif num > datas.number|add:'-2' and num > datas.number|add:'2' %}
                <a href="?page={{ num }}" class="btn btn-outline-dark">{{ num }}</a>
                {% endif %}

                {% endfor %}

                {% if datas.has_next %}
                <a class="btn btn-outline-dark" href="?page={{ datas.next_page_number }}">Next</a>
                <a class="btn btn-outline-dark" href="?page={{ datas.paginator.num_pages }}">Last</a>
                {% endif %}
            </div>
        </div>
    </li>
</ul>
{% endif %}
{% endblock content %}