{% extends 'base\base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<!-- <h1>{{ user.username }}</h1> -->
{% for d in eligible_leave %}
{{ d.eligible_leave }}
{% endfor %}

<div class="card" style="width: 30rem;">
    <div class="card-body">
        <h5 class="card-title mx-3">To Apply for Leave</h5>
        <h6 class="card-subtitle mx-3 mb-2 text-muted">Fill in details</h6>
        <div class="card-text">
            <form action="{% url 'employee-home' user.id %}" method="POST" class="row g-3 needs-validation form-signin "
                novalidate>
                {% csrf_token %}
                <div class="form-floating">
                    <input type="text" name="reason" class="form-control" id="floatingInput validationCustom03"
                        placeholder="Reason For Leave" required>
                    <label for="floatingInput">Reason For Leave</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="number" name="leave_count" class="form-control"
                        id="floatingPassword validationCustom04" placeholder="Days Requested" min="1"
                        max="{{ data.eligible_leave }}" required>
                    <label for="floatingPassword">Days Requested</label>
                </div>
                <button class="w-100 btn btn-lg btn-secondary" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>


<h2>Leave Taken History</h2>
{% for d in data %}
<div class="card" style="width: 20rem;">
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>Reason:</b> {{ d.reason }}</li>
        <li class="list-group-item"><b>Applied date:</b> {{ d.applied_date }}</li>
        <li class="list-group-item"><b>status:</b> {{ d.status }}</li>
    </ul>
</div>
{{ d.eligible_leave }}
{{ d.approved_leave }}
{{ d.rejected_leave }}
{% endfor %}

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict'
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')
        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }
                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>
{% endblock content %}