{% extends 'base\base.html' %}
{% load static %}
{% load has_group %}
{% load crispy_forms_tags %}
{% block content %}
{% if user|has_group:"Adminstrator" %}
<div class="content-section">
    <div class="container">
        <div class="card signup-card">
            <div class="card-body">
                <form method="POST" class="needs-validation" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Create User</legend>
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">CREATE</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="content-section">
    <div class="container">
        <div class="card signup-card">
            <div class="card-body">
                <h2 class="d-flex justify-content-center">YOU DON'T HAVE PERMISSION</h2>
                <a class="d-flex justify-content-center btn btn-danger" href="{%  url 'home' %}">BACK TO HOME</a>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}