{% extends 'base\base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5 mb-5">
    <div class="alert alert-warning">User name cannot be changed. Changing it causes error!</div>
</div>
<div class="content-section">
    <div class="container">
        <div class="card signup-card">
            <div class="card-body">
                <form method="POST" class="needs-validation" novalidate>
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Create User</legend>
                        <div id="div_id_username" class="form-group"> <label for="id_username" class=" requiredField">
                                Username<span class="asteriskField">*</span> </label>
                            <div class=""> <input type="text" name="username" maxlength="150" autofocus
                                    class="textinput textInput form-control" required id="id_username"
                                    value="{{ update_user.username }}"> <small id="hint_id_username"
                                    class="form-text text-muted">Required. 150 characters or
                                    fewer. Letters, digits and @/./+/-/_ only.</small> </div>
                        </div>
                        <div id="div_id_email" class="form-group"> <label for="id_email" class=" requiredField">
                                Email<span class="asteriskField">*</span> </label>
                            <div class=""> <input type="email" name="email" class="emailinput form-control" required
                                    id="id_email" value="{{ update_user.email }}"> </div>
                        </div>
                        <div id="div_id_first_name" class="form-group"> <label for="id_first_name"
                                class=" requiredField">
                                First name<span class="asteriskField">*</span> </label>
                            <div class=""> <input type="text" name="first_name" class="textinput textInput form-control"
                                    required id="id_first_name" value="{{ update_user.first_name }}"> </div>
                        </div>
                        <div id="div_id_last_name" class="form-group"> <label for="id_last_name" class=" requiredField">
                                Last name<span class="asteriskField">*</span> </label>
                            <div class=""> <input type="text" name="last_name" class="textinput textInput form-control"
                                    required id="id_last_name" value="{{ update_user.last_name }}"> </div>
                        </div>
                        <div id="div_id_phone_number" class="form-group"> <label for="id_phone_number"
                                class=" requiredField">
                                Phone number<span class="asteriskField">*</span> </label>
                            <div class=""> <input type="text" name="phone_number" value="{{ update_user.phone_number }}"
                                    maxlength="10" class="textinput textInput form-control" required
                                    id="id_phone_number"> </div>
                        </div>
                        <div id="div_id_profile_pic" class="form-group"> <label for="id_profile_pic"
                                class=" requiredField">
                                Profile pic<span class="asteriskField">*</span> </label>
                            <div class=""> <input type="file" name="profile_pic" accept="image/*"
                                    class="clearablefileinput form-control-file" id="id_profile_pic"
                                    value="{{ update_user.profile_pic.url }}" required>
                                <div class="invalid-feedback">
                                    Please choose a file before clicking update.
                                </div>
                            </div>
                        </div>
                        <div id="div_id_address" class="form-group"> <label for="id_address" class=" requiredField">
                                Address<span class="asteriskField">*</span> </label>
                            <div class=""> <input type="text" name="address" value="Bay Area, San Francisco, CA"
                                    maxlength="200" class="textinput textInput form-control" required id="id_address"
                                    value="{{ update_user.address }}">
                            </div>
                        </div>
                        {% ifequal update_user.is_admin_employee True %}
                        <div class="form-group">
                            <div id="div_id_is_admin_employee" class="form-check"> <input type="checkbox"
                                    name="is_admin_employee" class="checkboxinput form-check-input"
                                    id="id_is_admin_employee" checked> <label for="id_is_admin_employee"
                                    class="form-check-label">
                                    Is admin employee
                                </label> </div>
                        </div>
                        {% else %}
                        <div class="form-group">
                            <div id="div_id_is_admin_employee" class="form-check"> <input type="checkbox"
                                    name="is_admin_employee" class="checkboxinput form-check-input"
                                    id="id_is_admin_employee"> <label for="id_is_admin_employee"
                                    class="form-check-label">
                                    Is admin employee
                                </label> </div>
                        </div>
                        {% endifequal %}
                        {% ifequal update_user.is_employee True %}
                        <div class="form-group">
                            <div id="div_id_is_employee" class="form-check"> <input type="checkbox" name="is_employee"
                                    class="checkboxinput form-check-input" id="id_is_employee" checked> <label
                                    for="id_is_employee" class="form-check-label">
                                    Is employee
                                </label> </div>
                        </div>
                        {% else %}
                        <div class="form-group">
                            <div id="div_id_is_employee" class="form-check"> <input type="checkbox" name="is_employee"
                                    class="checkboxinput form-check-input" id="id_is_employee"> <label
                                    for="id_is_employee" class="form-check-label">
                                    Is employee
                                </label> </div>
                        </div>
                        {% endifequal %}
                        {% ifequal update_user.is_manager True %}
                        <div class="form-group">
                            <div id="div_id_is_manager" class="form-check"> <input type="checkbox" name="is_manager"
                                    class="checkboxinput form-check-input" id="id_is_manager" checked> <label
                                    for="id_is_manager" class="form-check-label">
                                    Is manager
                                </label> </div>
                        </div>
                        {% else %}
                        <div class="form-group">
                            <div id="div_id_is_manager" class="form-check"> <input type="checkbox" name="is_manager"
                                    class="checkboxinput form-check-input" id="id_is_manager"> <label for="
                                    id_is_manager" class="form-check-label">
                                    Is manager
                                </label> </div>
                        </div>
                        {% endifequal %}
                        <div id="div_id_leave_eligible" class="form-group"> <label for="id_leave_eligible"
                                class=" requiredField">
                                Leave eligible<span class="asteriskField">*</span> </label>
                            <div class=""> <input type="number" name="leave_eligible"
                                    value="{{ update_user.leave_eligible }}" class="numberinput form-control" required
                                    id="id_leave_eligible"> </div>
                        </div>
                        <div id="div_id_leave_taken" class="form-group"> <label for="id_leave_taken"
                                class=" requiredField">
                                Leave taken<span class="asteriskField">*</span> </label>
                            <div class=""> <input type="number" name="leave_taken" value="{{ update_user.leave_taken }}"
                                    class="numberinput form-control" required id="id_leave_taken"> </div>
                        </div>
                        <div id="div_id_leave_remaining" class="form-group"> <label for="id_leave_remaining"
                                class=" requiredField">
                                Leave remaining<span class="asteriskField">*</span> </label>
                            <div class=""> <input type="number" name="leave_remaining"
                                    value="{{ update_user.leave_remaining }}" class="numberinput form-control" required
                                    id="id_leave_remaining"> </div>
                        </div>
                        <div id="div_id_lop_leave_taken" class="form-group"> <label for="id_lop_leave_taken"
                                class=" requiredField">
                                Lop leave taken<span class="asteriskField">*</span> </label>
                            <div class=""> <input type="number" name="lop_leave_taken"
                                    value="{{ update_user.lop_leave_taken }}" class="numberinput form-control" required
                                    id="id_lop_leave_taken"> </div>
                        </div>
                        <div id="div_id_covid_leave_taken" class="form-group"> <label for="id_covid_leave_taken"
                                class=" requiredField">
                                Covid leave taken<span class="asteriskField">*</span> </label>
                            <div class=""> <input type="number" name="covid_leave_taken"
                                    value="{{ update_user.covid_leave_taken }}" class="numberinput form-control"
                                    required id="id_covid_leave_taken"> </div>
                        </div>

                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">UPDATE</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}